<table class="table table-bordered text-center">
  <tr>
    <th class="h1" colspan="3">Mobile List</th>
    <th>
      <a class="btn btn-success" href="/mobile/add">Add</a>
    </th>
  </tr>
  <tr>
    <th>Mobile Name</th>
    <th>Mobile Price</th>
    <th>Mobile Image</th>
    <th>Menu</th>
  </tr>
  {{#each mobiles}}
    <tr>
      <td>{{name}}</td>
      <td>$ {{price}}</td>
      <td>
        <a href="/mobile/detail/{{_id}}">
          <img src="{{image}}" width="100" height="100" />
        </a>
      </td>
      <td>
        <a class="btn btn-warning" href="/mobile/edit/{{_id}}">Edit</a>
        <a class="btn btn-danger" href="/mobile/delete/{{_id}}"
        onclick="return confirm('Are you sure to delete this mobile ?');"
        >Delete</a>
      </td>
    </tr>
  {{/each}}
</table>